#avatar {
    width: 300px;
    border-radius: 80%;
    box-shadow: 1px 1px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #232a2a;
}

h1, h2 {
    font-family: 'Abril Fatface', serif;
}

h1 {
    font-size: 60px;
    color: #ffc914;
}

h3 {
    text-transform: uppercase;
    padding: 2rem;
    font-size: 25px;
    font-weight: 300;
}

#info {
    background-color: #232a2a;
    width: 45%;
    float: left;
    position: fixed;
    height: 100vh;
    color: #dedfdf;
    margin: auto;
}

#cont {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#gallery, #about {
    background-color: #191716;
    width: 55%;
    float: right;
    padding: 3rem;
    margin-bottom: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #dedfdf;
}

#mainCard {
    width: 40rem;
    margin: auto;
}

.card {
    width: 22rem;
    margin: auto;
    background-color: #232a2a;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #dedfdf;
}

.btn {
    background-color: #ff715b;
    color: #dedfdf;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    box-shadow: 0.5px 0.5px;
    font-weight: 400;
}

.github, .deployed {
    font-size: 15px;
    font-weight: 300;
    color: #dedfdf;
}

footer {
    height: 3rem;
    padding: 0.35rem;
    background-color: #4a4f4f;
}

i {
    font-size: 35px;
    color: #ffc914;;
}
